<meta charset="UTF-8">
<div id="watsonPage" class="padding_APP15">

	<div ng-repeat="mensaje in vm.mensajes">
		<div ng-if="mensaje.user">
			<p> {{mensaje.text}} </p>
		</div>

		<div ng-if="!mensaje.user">
			<p class="answerWatson" compile='mensaje.text'></p>
		</div>
	</div>

	
	<div style="position:relative;">
		<form ng-submit="vm.sendMessage()" handle-phone-submit >
	    	<!--<label class="w-100_APP15"><strong>Mensaje</strong></label>-->
			<input type="text" ng-model="vm.mensajeUsuario" id="inputUser"/>
			<button  class="bt-edit_APP15"><i class="icon ion-edit"></i></button>
    	</form>
	</div>

</div>